SECRET_KEY=replace-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=sqlite:///./app_square_local.db

ROOT_ADMIN_USERNAME=admin
ROOT_ADMIN_PASSWORD=replace-me

ALLOWED_ORIGINS=http://localhost:5173

TAG_SOURCE_KIND=excel
TAG_SOURCE_EXCEL_PATH=C:\Users\hp\Desktop\JNIL-WRM-OPC Tags Step1.xlsx
TAG_SOURCE_EXCEL_SHEET=Sheet1
TAG_SOURCE_LOOKUP_COLUMN=A
TAG_SOURCE_VALUE_COLUMN=B
