.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background: #263238;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar a {
  padding: 14px 20px;
  text-decoration: none;
  color: #cfd8dc;
  font-weight: 500;
}

.sidebar a.active {
  background: #1976d2;
  color: white;
}